<div class="post-detail py-5 bg-light">
  <div class="card w-75 mx-auto mt-4 shadow-lg">
    <%= image_tag @post.get_image, class:"card-img-top"; %>
    <div class="card-body">
      <div class="row">
        <div class="col-2">
          <%= image_tag @post.customer.get_profile_image(50, 50), class:"mt-3 rounded-circle"; %>
        </div>
        <div class="col-10">
          <p class="card-title">
            <strong><i class="far fa-flag"></i><span><%= @post.title %></span></strong>
          </p>
          <p class="card-text">説明：<%= @post.body %></p>
          <p class="card-genre">ジャンル：<%= @post.genre.name %></p>
          <span><i class="fas fa-user"></i> By <%= @post.customer.full_name %>　|　</span>
          <span><i class="fa fa-calendar"></i><%= @post.created_at.strftime('%Y/%m/%d') %>　|　</span>
          <span><i class="fa fa-comment"></i><%= @post.comments.count %>　|　 </span>
          <div id="favorite_<%= @post.id %>" class="d-inline">
            <%= render partial: "public/favorites/favorites", locals: { post: @post } %>
          </div>
          <% @post.tags.each do |tag| %>
            <span><%= tag.name %></span>
          <% end %>
          <% if @post.customer == current_customer %>
            <span><%= link_to "削除", public_post_path(@post), method: :delete %></span>
          <% end %>
        </div>
      </div>
      <hr>
      <div class="comments card-text">
        <h4 class="mt-3"><%= @post.comments.count %>件コメント</h4>
      </div>
      <hr>
      <table class="table">
        <thead>
          <tr>
            <th>氏名</th>
            <th>コメント</th>
            <th colspan=""></th>
          </tr>
        </thead>

        <tbody>
          <% @post.comments.each do |comment| %>
            <tr>
              <td><%= comment.customer.full_name %></td>
              <td><%= comment.body %></td>
              <td>
                <% if current_customer == comment.customer %>
                  <%= link_to "削除", public_post_path(@post), method: :delete %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <% if @comment.customer == current_customer %>
        <%= link_to "削除", public_post_comment_path(comment.post, comment), method: :delete %>
      <% end %>
      <hr>
      <%= form_with model: [:public, @post, @comment] do |f| %>
      <div class="form-group">
        <%= f.text_area :body, class:"form-control", rows: '5', placeholder: "コメントをここに" %>
      </div>
      <%= f.submit "送信", class:"btn btn-lg btn-block btn-info mt-4" %>
      <% end %>
    </div>
  </div>
</div>
